@import "tailwindcss";
*{
  outline: none;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@theme{
  --color-orangy:#E67514;
}
@layer component {
  .container {
    @apply w-5xl mx-auto;
  }
  .flex-job {
    @apply flex justify-center items-center;
  }
  .shadow-effect {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
